.optionItem {
    padding: 10px;
    color: var(--font-black-color);
    cursor: pointer;
    background-color: white;

    &:hover {
        background-color: whitesmoke;
    }
}

.selected {
    background-color: #e0e0e0;
    font-weight: bold;
}
