.selectWrapper {
    position: relative;
    width: 100%;
}

.selectBox {
    padding: 10px;
    border: 1px solid var(--disabled-color);
    border-radius: 6px;
    cursor: pointer;
    color: black;
    text-align: center;
}

.optionList {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    border: 1px solid var(--disabled-color);

    border-radius: 6px;
    z-index: 10;
    text-align: center;
}
