.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.userInfo {
    display: flex;
    gap: 10px;
    p {
        display: flex;
        gap: 5px;
        color: #929292;
    }
}
.skillList {
    display: flex;
    gap: 5px;

}


.positionText {
    display: flex;
    width: auto;
    gap: 2px;
}