.tabMenuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
    margin-bottom: 5vw;

    width: 50vw;
    height: 35px;
}

.styledLink {
    color: white;
    text-decoration: none;
    font-size: var(--content-size);

    &.active {
        color: var(--brand-color);
    }
}
