.tabMenuContainer {
    display: flex;
    align-items: center;
    gap: 2vw;
    min-width: 600px;
    margin-bottom: 1vw;
    margin-top: 2vw;
    margin-left: 1vw;

    width: 30vw;
    height: 35px;
}

.styledLink {
    color: var(--disabled-color);
    font-weight: bold;
    text-decoration: none;
    font-size: var(--content-size);

    &.active {
        color: var(--brand-color);
    }
}
