.card {
    background-color: var(--card-background-color);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    user-select: none;
    margin: 8px;
    padding: 20px;
    width: 332px;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: translateY(-5px) scale(1.03);
        //   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15),
        //               0 12px 24px rgba(0, 0, 0, 0.15);
    }
}
ㄴ .cardHeader {
    background-color: var(--card-background-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem; // 8px -> 0.5rem
}

.cardBody {
    background-color: var(--card-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; // 16px -> 1rem
    width: 100%;
}

.cardFooter {
    background-color: var(--card-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8125rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    p {
        color: #858585;
    }
}

// 크기 별 클래스
.sm {
    width: 18rem; // 약 70%
    height: 10rem;
}

.md {
    width: 20.75rem; // 기본 크기
    height: 12.5rem;
}

.lg {
    width: 26rem; // 필요하면 추가
    height: 15rem;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
