.banner {
    width: 1280px !important;
    height: 270px !important;
    margin-bottom: 100px;
}

.imageBox {
    width: 1280px !important;
    height: 270px !important;
}

.img {
    width: 100%;
    height: 100%;
    object-fit:cover !important;
    object-position: center;
  }