.modalHeader {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-bottom: 3rem;
}

.btnBox {
    text-align: center;
    margin-top: 40px;
}

.select {
    width: 100%;
    padding: 10px 12px;
    margin: 16px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: white;
    color: #333;
    appearance: none; // 기본 화살표 제거
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.option {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}