.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26vh;
}

.title {
    display: flex;
    align-items: center;
    font-size: calc(var(--header-size) * 0.7);
    font-weight: bold;
    color: var(--font-black-color);
}
.logo {
    margin-bottom: 1.5rem;
}
