.footerContainer {
    width: 100%;
    background-color: var(--brand-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    padding: 40px 16px;
    box-sizing: border-box;
    margin-top: 100px;
}

.innerWrapper {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerSpan {
    margin-top: 50px;
    font-size: calc(var(--content-size) * 0.75);
    line-height: 1.6;
}