.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--brand-color);
    padding: 5px 15px;
}

.sm {
    width: 60px;
    height: 20px;
}

.md {
    width: 93px;
    height: 25px;
}

.outlined {
    border: 2px solid var(--disabled-color);
}

.filled {
    border: none;
}
