.tabsMain {
    margin-top: 32px;
    position: relative;
}

.tabList {
    display: flex;
    gap: 3px;
    margin-bottom: 50px;
    align-items: center;
}

.tab {
    background-color: var(--background-color);
    color: #bbbbbb;
    font-weight: 600;
    font-size: 25px;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    --inactive-color: #bbbbbb;

    &:hover {
        color: var(--brand-color);
    }
}

.active {
    color: var(--brand-color);
}

.tabContent {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    padding-top: 20px;
    color: #eee;
}
.skillSelectBox {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 500px;
    z-index: 1;
}

.positionSelectBox {
    border: none;
    position: absolute;
    top: 60px;
    left: 150px;
    z-index: 1;
}

.line {
    color: var(--font-black-color);
    user-select: none;
}
